body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(107.56deg, #1D1717 0%, #7D7676 0.01%, #565453 12.17%, #474544 20.67%, #171513 45.17%, #0A0706 74.6%, #302422 99.97%, #373130 99.98%, #5A5555 99.99%, #120F0F 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: center;
    color: #FFFFFF;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #aaa5a5; 
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #302422; 
}


